.clickButton {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  font-size: "36px";
}

.clickButton:hover {
  transform: scale(1.2);
}

.passwordTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordSubtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.modalTitle {
  width: 50%;
}

.profilePicture {
  border-radius: 50%;
}
.coverPicture {
  border-radius: 6%;
}