.clickButton {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  font-size: "36px";
}

.clickButton:hover {
  transform: scale(1.2);
}

.passwordTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordSubtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.modalTitle {
  width: 50%;
}

.profilePicture {
  border-radius: 50%;
}

/* .profilePicture:hover {
  cursor: grab;
}

.profilePicture:hover .editImage {
  cursor: grab;
  display: block;
}


.fileInputButton {
  color:#fff;
  background-color: #81CAEA;
  border-color: #81CAEA;
  border-radius: 12%;
  width: 100%;
}

.editImage {
  display: none;
  position: absolute;
  z-index: 1;
} */