.background {
    background-attachment: fixed;
    background: radial-gradient(
      98.88% 50% at 50% 50%,
      rgba(149, 195, 255, 0.9) 27.08%,
      rgba(38, 132, 255, 0.9) 98.44%
    );
    min-height: 100vh;
  }
  