@font-face {
  font-family: "Capriola";
  src: url("./fonts/Capriola-Regular.ttf");
}

@font-face {
  font-family: "Cairo";
  src: url("./fonts/Cairo-VariableFont_slnt,wght.ttf");
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Cairo";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
