@font-face {
  font-family: "capriola";
  src: url("./fonts/capriola/Capriola-Regular.ttf");
}

@font-face {
  font-family: "cairo";
  src: url("./fonts/cairo/Cairo-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: "raleway";
  src: url("./fonts/raleway/Raleway-VariableFont_wght.ttf");
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Cairo";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
